.Head {
    background-color: orange;
    height: 300px;
    width: 1350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.div1 {
    height: 70%;
    width: 10%;
    background-color: blue;
}
.div2 {
    height: 250px;
    width: 900px;
    background-color: rgb(30, 180, 180);
}
.mid {
    height:300px;
    width: 1350px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mid1 {
    height: 80%;
    width: 90%;

}
.second {
    height: 300px;
    width: 1350px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color:orange;
    
}
.div3 {
    height: 80%;
    width: 30%;
    background-color:blue;
    justify-content: space-around; 
    align-items: center;
}
.div4 {
    height: 80%;
    width: 30%;
    background-color:blue;
}
.div5 {
    height: 80%;
    width: 30%;
    background-color:blue;
}
.bottom {
    background-color:orange;
    height: 200px;
    width: 1350px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.div6 {
    height: 70%;
    width: 40%;
    background-color: pink;
    display: flex
}
.div6-1 {
    height: 100%;
    width: 50%;
    text-align: center;
}
.div6-2 {
    height:90%;
    width: 50%;
}
.div7 {
    height: 70%;
    width: 40%;
    background-color: pink;
}
   